## Indexing

In [1]:
import numpy as np
import math

In [2]:
# To select multiple items at once, pass array of indexes in square brackets
a = np.arange(10,16)
a

array([10, 11, 12, 13, 14, 15])

In [3]:
a[[1,3,5]]

array([11, 13, 15])

In [4]:
# Indexing a bidimensional array
a = np.arange(10,19).reshape(3,3)
a

array([[10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

In [5]:
a[1,2]

15

## Slicing

In [38]:
# ':' is used for slicing numpy array 
a = np.arange(10,16)
a

array([10, 11, 12, 13, 14, 15])

In [7]:
a[1:5]

array([11, 12, 13, 14])

In [8]:
a[1:]

array([11, 12, 13, 14, 15])

In [9]:
# Slicing with steps
a[1:5:2]

array([11, 13])

In [10]:
a[::2]

array([10, 12, 14])

In [11]:
a[:5:2]

array([10, 12, 14])

In [12]:
a[:5:]

array([10, 11, 12, 13, 14])

In [13]:
A = np.arange(10,19).reshape((3,3))
A

array([[10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

In [14]:
# A[rows,columns]
# Here it prints the elements of first row only because the row value is set to 0. 
A[0,:]

array([10, 11, 12])

In [15]:
# Here it prints the elements of first column only because the column value is set to 0.
A[:,0]

array([10, 13, 16])

In [35]:
# To extract a smaller matrix from a larger one
A = np.arange(0,25).reshape(5,5)
A

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [17]:
A[1:4,1:4]

array([[ 6,  7,  8],
       [11, 12, 13],
       [16, 17, 18]])

In [18]:
# Here since we passed an array of indices, it only selected those rows.
A[[1,4],1:4]

array([[ 6,  7,  8],
       [21, 22, 23]])

## Iterating an Array

In [39]:
for item in a:
    print(item)

10
11
12
13
14
15

In [40]:
for row in A:
    print(row)

[0 1 2 3 4]
[5 6 7 8 9]
[10 11 12 13 14]
[15 16 17 18 19]
[20 21 22 23 24]

In [46]:
a = np.arange(10,22).reshape(3,4)
a

array([[10, 11, 12, 13],
       [14, 15, 16, 17],
       [18, 19, 20, 21]])

In [47]:
# To make an iteration element by element, we can use the following construct, using for loop on A.flat.
for element in a.flat:
    print(element)

10
11
12
13
14
15
16
17
18
19
20
21

Generally, we need to apply an iteration to apply a function on the rows or columns or on an individual element.
There is a better way to do so : apply_along_axis() function. This function applys aggregate function on the axis which is passed to the function.

This function takes three arguments : the aggregate function, the axis on which to apply the iteration and the array.

In [48]:
# axis = 0, the iteration evaluates the elements column by column.
# axis = 1, the iteration ealuates the elements row by row.
np.apply_along_axis(np.sum, axis=0, arr=a)

array([42, 45, 48, 51])

In [49]:
np.apply_along_axis(np.sum, axis=1, arr=a)

array([46, 62, 78])

#### Because ufunc operates element by element, iterating it over by axis = 0 or axis = 1 produces the same result

## Conditions and Boolean Arrays

In [52]:
A = np.random.random((4,4))
A

array([[0.05676464, 0.06759056, 0.88179362, 0.48907769],
       [0.40700672, 0.99404418, 0.85569836, 0.42305098],
       [0.07600693, 0.90887302, 0.89636459, 0.18756756],
       [0.80152917, 0.70605938, 0.32123215, 0.26104481]])

In [53]:
A < 0.5

array([[ True,  True, False,  True],
       [ True, False, False,  True],
       [ True, False, False,  True],
       [False, False,  True,  True]])

In [54]:
# This boolean method is used implicitly to extract values smaller than 0.5, so as to obtain a new array 
A[A<0.5]

array([0.05676464, 0.06759056, 0.48907769, 0.40700672, 0.42305098,
       0.07600693, 0.18756756, 0.32123215, 0.26104481])

In [55]:
A

array([[0.05676464, 0.06759056, 0.88179362, 0.48907769],
       [0.40700672, 0.99404418, 0.85569836, 0.42305098],
       [0.07600693, 0.90887302, 0.89636459, 0.18756756],
       [0.80152917, 0.70605938, 0.32123215, 0.26104481]])

## Shape Manipulation

In [59]:
a = np.random.random(12)
a

array([0.58265185, 0.27985656, 0.18763574, 0.71850412, 0.32734846,
       0.5917246 , 0.11948515, 0.40067553, 0.41908326, 0.62713607,
       0.743463  , 0.87091627])

### The reshape() function returns a new array and can therefore create new objects.

In [60]:
A = a.reshape(3,4)
A

array([[0.58265185, 0.27985656, 0.18763574, 0.71850412],
       [0.32734846, 0.5917246 , 0.11948515, 0.40067553],
       [0.41908326, 0.62713607, 0.743463  , 0.87091627]])

### If you want to modify the object by modifying the shape, you have to assign a tuple containing the new dimensions directly to its shape attribute.

In [61]:
a.shape = (4,3)
a

array([[0.58265185, 0.27985656, 0.18763574],
       [0.71850412, 0.32734846, 0.5917246 ],
       [0.11948515, 0.40067553, 0.41908326],
       [0.62713607, 0.743463  , 0.87091627]])

In [62]:
# Using the ravel function a 2-D array can be converted into a 1-D array 
a = a.ravel()
a

array([0.58265185, 0.27985656, 0.18763574, 0.71850412, 0.32734846,
       0.5917246 , 0.11948515, 0.40067553, 0.41908326, 0.62713607,
       0.743463  , 0.87091627])

In [63]:
# Another method
a.shape = (12)
a

array([0.58265185, 0.27985656, 0.18763574, 0.71850412, 0.32734846,
       0.5917246 , 0.11948515, 0.40067553, 0.41908326, 0.62713607,
       0.743463  , 0.87091627])

## Transposing a Matrix
It inverts the columns with the rows.

In [64]:
A.transpose()

array([[0.58265185, 0.32734846, 0.41908326],
       [0.27985656, 0.5917246 , 0.62713607],
       [0.18763574, 0.11948515, 0.743463  ],
       [0.71850412, 0.40067553, 0.87091627]])