# Arithmetic Operators

In [1]:
import numpy as np

In [2]:
a = np.arange(4)
a

array([0, 1, 2, 3])

In [3]:
# Arithmetic operations in numpy are always element-wise ,i.e., the operators are applied only between corresponding 
# elements
a+4

array([4, 5, 6, 7])

In [4]:
a*3

array([0, 3, 6, 9])

In [5]:
b = np.arange(4,8)
b

array([4, 5, 6, 7])

In [6]:
a+b

array([ 4,  6,  8, 10])

In [7]:
a-b

array([-4, -4, -4, -4])

In [8]:
a*b

array([ 0,  5, 12, 21])

In [9]:
a/b

array([0.        , 0.2       , 0.33333333, 0.42857143])

In [10]:
# These operators are also available for functions 
a * np.sin(b)

array([-0.        , -0.95892427, -0.558831  ,  1.9709598 ])

In [11]:
a

array([0, 1, 2, 3])

In [12]:
a * np.sqrt(b)

array([0.        , 2.23606798, 4.89897949, 7.93725393])

In [13]:
# Muti-Dimensional arrays
A = np.arange(0,9).reshape(3,3)
A

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [14]:
B = np.ones((3,3))
B

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [15]:
A*B

array([[0., 1., 2.],
       [3., 4., 5.],
       [6., 7., 8.]])

## The Matrix Product

In [16]:
# Matrix product is carried out by dot() function. This operation is not element-wise.
np.dot(A,B)

array([[ 3.,  3.,  3.],
       [12., 12., 12.],
       [21., 21., 21.]])

In [17]:
A.dot(B)

array([[ 3.,  3.,  3.],
       [12., 12., 12.],
       [21., 21., 21.]])

In [18]:
np.dot(B,A)

array([[ 9., 12., 15.],
       [ 9., 12., 15.],
       [ 9., 12., 15.]])

In [19]:
# write a python program for matrix multiplication using numpy functions [np.dot, np.matmul, variable1@variable2]
v1 = np.array([1,2,3])
v2 = np.array([4,5,6])
np.dot(v1,v2)

32

In [20]:
np.matmul(v1,v2)

32

In [21]:
v1@v2

32

In [22]:
# Multiplication of 3x3 matrix
s1 = np.arange(1,10).reshape(3,3)
s1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [23]:
s2 = np.arange(9,0,-1).reshape(3,3)
s2

array([[9, 8, 7],
       [6, 5, 4],
       [3, 2, 1]])

In [24]:
np.dot(s1,s2)

array([[ 30,  24,  18],
       [ 84,  69,  54],
       [138, 114,  90]])

In [25]:
np.matmul(s1,s2)

array([[ 30,  24,  18],
       [ 84,  69,  54],
       [138, 114,  90]])

In [26]:
s1@s2

array([[ 30,  24,  18],
       [ 84,  69,  54],
       [138, 114,  90]])

## Increment and Decrement Operators

In [27]:
a = np.arange(4)
a

array([0, 1, 2, 3])

In [28]:
a += 1

In [29]:
a

array([1, 2, 3, 4])

In [30]:
a -= 1
a

array([0, 1, 2, 3])

## Universal Functions(ufunc)
A function operating on an array in an element-by-element fashion. It acts individually on each single element of the input array to generate a corresponding result in a new output array. In the end you obtain an array of the same size as the input.
Examples - sqrt(), sin(), log(), etc.

In [31]:
a = np.arange(1,5)
a

array([1, 2, 3, 4])

In [32]:
np.sqrt(a)

array([1.        , 1.41421356, 1.73205081, 2.        ])

In [33]:
np.sin(a)

array([ 0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

In [34]:
np.log(a)

array([0.        , 0.69314718, 1.09861229, 1.38629436])

## Aggregate Functions
They perform an operation  on a set of values, an array for example, and produce a single result.
Example - sum of array elements.

In [35]:
a = np.array([3.3, 4.5, 1.2, 5.7, 0.3])
a.sum()

15.0

In [36]:
a.min()

0.3

In [37]:
a.max()

5.7

In [38]:
a.mean()

3.0

In [39]:
a.std()

2.0079840636817816

In [50]:
b = np.array([[1,2,3],[4,5,6]])
b

array([[1, 2, 3],
       [4, 5, 6]])

In [51]:
#axis = 0 : for summation vertically across rows
#axis = 1 : for summation horizontally across columns
b.sum(axis=0)

array([5, 7, 9])

In [53]:
b.sum(axis=1)

array([ 6, 15])