In [1]:
import numpy as np
import pandas as pd

In [3]:
mser = pd.Series(np.random.rand(8),
... index=[['white','white','white','blue','blue','red','red',
'red'],
... ['up','down','right','up','down','up','down','left']])

In [4]:
mser

white  up       0.151011
       down     0.597565
       right    0.292808
blue   up       0.551770
       down     0.837617
red    up       0.992567
       down     0.098735
       left     0.319876
dtype: float64

In [5]:
mser.index

MultiIndex([('white',    'up'),
            ('white',  'down'),
            ('white', 'right'),
            ( 'blue',    'up'),
            ( 'blue',  'down'),
            (  'red',    'up'),
            (  'red',  'down'),
            (  'red',  'left')],
           )

In [6]:
mser['white']

up       0.151011
down     0.597565
right    0.292808
dtype: float64

In [7]:
mser[:,'up']

white    0.151011
blue     0.551770
red      0.992567
dtype: float64

In [8]:
mser['white','down']

0.5975654901709233

The unstack() function converts the
series with a hierarchical index to a simple dataframe, where the second set of indexes is
converted into a new set of columns.

In [14]:
frame = mser.unstack()
frame

           down      left     right        up
blue   0.837617       NaN       NaN  0.551770
red    0.098735  0.319876       NaN  0.992567
white  0.597565       NaN  0.292808  0.151011

If what you want is to perform the reverse operation, which is to convert a dataframe
to a series, you use the stack() function.

In [15]:
frame.stack()

blue   down     0.837617
       up       0.551770
red    down     0.098735
       left     0.319876
       up       0.992567
white  down     0.597565
       right    0.292808
       up       0.151011
dtype: float64

With dataframe, it is possible to define a hierarchical index both for the rows and for
the columns. At the time the dataframe is declared, you have to define an array of arrays
for the index and columns options.

In [16]:
mframe = pd.DataFrame(np.random.randn(16).reshape(4,4),
... index=[['white','white','red','red'], ['up','down','up','down']],
... columns=[['pen','pen','paper','paper'],[1,2,1,2]])

In [17]:
mframe

                 pen               paper
                   1         2         1         2
white up   -0.739810  0.116329  0.557049  1.376212
      down -0.668948  2.241387  0.468882  0.567394
red   up    0.729228  1.497532 -0.106143  1.154797
      down  0.330887 -2.217362  1.115872 -0.594540

## Reordering and Sorting Levels

In [18]:
mframe.columns.names = ['object','id']
mframe.index.names = ['colors','status']

In [19]:
mframe

object              pen               paper
id                    1         2         1         2
colors status
white  up     -0.739810  0.116329  0.557049  1.376212
       down   -0.668948  2.241387  0.468882  0.567394
red    up      0.729228  1.497532 -0.106143  1.154797
       down    0.330887 -2.217362  1.115872 -0.594540

In [21]:
mframe.swaplevel('colors','status')

object              pen               paper
id                    1         2         1         2
status colors
up     white  -0.739810  0.116329  0.557049  1.376212
down   white  -0.668948  2.241387  0.468882  0.567394
up     red     0.729228  1.497532 -0.106143  1.154797
down   red     0.330887 -2.217362  1.115872 -0.594540

In [24]:
mframe.sort_index(level='colors')

object              pen               paper
id                    1         2         1         2
colors status
red    down    0.330887 -2.217362  1.115872 -0.594540
       up      0.729228  1.497532 -0.106143  1.154797
white  down   -0.668948  2.241387  0.468882  0.567394
       up     -0.739810  0.116329  0.557049  1.376212

## Summary Statistic by  Level

In [25]:
mframe.sum(level='colors')

C:\Users\shahp\AppData\Local\Temp/ipykernel_15044/3153633550.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  mframe.sum(level='colors')

object       pen               paper
id             1         2         1         2
colors
white  -1.408758  2.357715  1.025932  1.943606
red     1.060115 -0.719830  1.009729  0.560257

In [26]:
mframe.sum(level='id',axis=1)

C:\Users\shahp\AppData\Local\Temp/ipykernel_15044/471540532.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  mframe.sum(level='id',axis=1)

id                    1         2
colors status
white  up     -0.182760  1.492541
       down   -0.200066  2.808780
red    up      0.623085  2.652328
       down    1.446758 -2.811902