In [1]:
a = 5

In [2]:
you = 100
me = 50
we = ((you and me) or (me and you))
print(we)

50

In [3]:
you and me

50

In [4]:
me and you

100

In [5]:
10 and 5

5

In [6]:
5 and 10

10

In [9]:
(not "I") and (not "YOU")

False

In [10]:
(not "I") or (not "You")

False

In [13]:
s1 = "I love India"
s2 = "India"
s3 = (s2 in s1)

In [14]:
s3

True

In [15]:
first = "coding"
second = "Python"
new_line = ""
for i in first:
    for j in second:
        if i==j:
            new_line += chr(ord(i))+chr(ord(j))
print(new_line)

oonn

In [16]:
print("Niki" and 20)

20

In [17]:
print((121,17,82) and (23,10,78))

(23, 10, 78)

In [18]:
try:
    check_num = 23.57
    check_str = 'checking'
    print(check_num + check_str)
except:
    print("c")

c

In [20]:
number = range(1,10)
print(type(number))

<class 'range'>

In [21]:
tup = ("Hai","Hello")
del tup[1]

TypeError: 'tuple' object doesn't support item deletion

In [23]:
my_var = 12
def var_demo():
    my_var  = -65/12
    return my_var
print(var_demo())

-5.416666666666667

In [24]:
lower = ('a','b','c','d','e')
upper = ('A','b','C','D','E')
print((lower != (not upper)))

True

In [25]:
row1 = [[0 for col in range(3)] for row in range(3)]
print(row1)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]